@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@model BookCave.Models.ViewModels.BookDetailViewModel

@inject SignInManager<ApplicationUser> SignInManager
    @{
        var claim = ((ClaimsIdentity) User.Identity);
    }
<div class="book-details-container">
    <div class="book-details-row"> 
        <div class="book-details-grid-image">
            <img src="@Model.Image" alt="Image of @Model.Title" height="300" width="">
        </div>
        <div class="book-details-grid-title">
            <h3>@Model.Title</h3>
        </div>  
    
        <div class="book-details-grid-author">
            <h4>Author: @Model.Author</h4>
        </div>
        <div class="book-details-desc">Description: @Model.Description</div>
        <div class="book-details-price-rel-button"> 
            <div class="book-details-price">Price: @Model.Price kr.</div>
            <div class="book-details-rel">Release date: @Model.PublishDate </div>
            @if(SignInManager.IsSignedIn(User))
            {
                <button class="book-details-button add-user-book btn btn-success" data-book=@Model.Id data-price=@Model.Price data-toggle="modal" data-target="#userDetailAdd"> add to cart</button>
                <div class="modal fade" id="userDetailAdd" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"> We added book to your cart.</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else 
            {
                <button class="book-details-button add-book btn btn-success" data-title="@Model.Title" data-book=@Model.Id data-price=@Model.Price> add to cart</button>
            }
        </div>
    </div>

    <center> 
        <div id="reviewSection" data-isbn=@Model.Id>
            <h3>Reviews</h3>
            @if(SignInManager.IsSignedIn(User))
            {
                <form id="book-detail-review-form" class="form-group row">
                    <div class="form-group row">
                        <div class="col-sm">
                        <input type="radio" name="rating" value="1">
                        <input type="radio" name="rating" value="2">
                        <input type="radio" name="rating" value="3">
                        <input type="radio" name="rating" value="4">
                        <input type="radio" name="rating" value="5">
                    </div>
                    <div class="form-group row">
                        <div class="col-sm">
                        <textarea id="user-comment" name="comment" placeholder="Write a Review" cols="50" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm">
                            <button id="review-submit" data-id=@Model.Id class="btn btn-primary">Add comment</button>
                        </div>
                    </div>
                </form>        
            }
            else 
            {
                <a asp-controller="Account" asp-action="Login">Login to to Write a review</a>
            }

            <div id="user-comments"></div>
        </center>
        
    </div>
</div>
