@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@model BookCave.Models.ViewModels.BookDetailViewModel

@inject SignInManager<ApplicationUser> SignInManager
    @{
        var claim = ((ClaimsIdentity) User.Identity);
    }
<div class="book-details-container">
    <div class="book-details-grid-title">
        <h1>@Model.Title</h1>
    </div>  
    <div class="book-details-grid-image">
        <img src="@Model.Image" alt="Image of @Model.Title" height="300" width="">
    </div>
    <div class="book-details-grid-author">
        <h2>Author: @Model.Author</h2>
    </div>
    <div class="">Description: @Model.Description</div>
    <div class="">Price: @Model.Price Kr</div>
    <div class="">@Model.Title</div>
    <div class=""> Release date </div>
    <div class=""> Publisher</div>

    @if(SignInManager.IsSignedIn(User))
    {
        <button class="add-user-book btn btn-success" data-toggle="modal" data-target="#userDetailAdd" data-book=@Model.Id data-price=@Model.Price> im logged in add</button>

        <!-- Modal -->
        <div class="modal fade" id="userDetailAdd" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> We added book to your cart.</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else 
    {
        <button class="add-book btn btn-danger" data-book=@Model.Id data-price=@Model.Price> im not logged in add</button>
    }

    <div id="reviewSection" data-isbn=@Model.Id>
        <h3>Reviews</h3>
        @if(SignInManager.IsSignedIn(User))
        {
            <form id="book-detail-review-form" class="form-group row">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                    <label class="col-sm-2 col-form-label"></label>
                    <input type="radio" name="rating" value="1">
                    <input type="radio" name="rating" value="2">
                    <input type="radio" name="rating" value="3">
                    <input type="radio" name="rating" value="4">
                    <input type="radio" name="rating" value="5">
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                    <textarea id="user-comment" name="comment" placeholder="Write a Review" cols="50" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <button id="review-submit" data-id=@Model.Id class="btn btn-primary">Add comment</button>
                    </div>
                </div>
            </form>        
        }
        else 
        {
            <a asp-controller="Account" asp-action="Login">Login to to Write a review</a>
        }
        <div id="user-comments"></div>
    </div>
</div>
