@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@model List<BookCave.Models.ViewModels.BookViewModel>

@inject SignInManager<ApplicationUser> SignInManager

    @{
        var claim = ((ClaimsIdentity) User.Identity);
    }
@Html.Raw(ViewBag.Message)
<div class="grid-home-container">
    
    <aside class="grid-home-aside">
        <div class="grid-home-aside-item"> <a class="top-ten-button" asp-controller="Home" asp-action="TopTen"> Top ten </a> </div>
        <div class="grid-home-aside-item">
            <div class="dropdown">
                <button class="dropbtn">Genres</button>
                <div class="dropdown-content" id="genre-filter">
                    <a data-genre="adventure">Adventure</a>
                    <a data-genre="mystery">Mystery</a> 
                    <a data-genre="comedy">Comedy</a>
                    <a data-genre="romance">Romance</a>
                    <a data-genre="fantasy">Fantasy</a>
                    <a data-genre="science fiction">Science fiction</a>
                </div>
            </div>    
        </div> 
    </aside>
    <main class="grid-home-main">
        <div class="grid-order-buttons">
            <span class="grid-order-buttons-item"> Order by: </span> 
            <button id="order-by-title" class="grid-order-buttons-item btn btn-default btn-xs"> Name </button>
            <button id="order-by-price" class="grid-order-buttons-item btn btn-default btn-xs"> Price </button>
            <button id="order-by-rating" class="grid-order-buttons-item btn btn-default btn-xs"> Rating </button>
            
        </div>
        <div class="grid-container"> 
            @foreach(var book in Model)
            {   
                <div class="grid-items">
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@book.Id"> 
                        <img src="@book.Image" alt="Image of @book.Title"> 
                    </a>
                    <div data-title="@book.Title" class="grid-book-title">@book.Title</div>
                    <div data-rating=@book.Rating class="grid-book-rating">[@book.Rating/5]</div>
                    <div class="grid-book-price">@book.Price</div>

                    @if(SignInManager.IsSignedIn(User))
                    {
                        <button class="add-user-book custom-btn btn btn-success" data-toggle="modal" data-target="#userHomeAdd" data-book=@book.Id data-price=@book.Price> add to cart</button>
                        <!-- Modal -->
                        <div class="modal fade" id="userHomeAdd" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title"> We added book to your cart.</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else 
                    {
                        <button class="add-book btn custom-btn btn-success" data-title="@book.Title" data-book=@book.Id data-price=@book.Price> add to cart</button>
                    }
                    
                </div>       
            }
        </div>
    </main> 
</div>

