@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@model List<BookCave.Models.ViewModels.BookViewModel>

@inject SignInManager<ApplicationUser> SignInManager

    @{
        var claim = ((ClaimsIdentity) User.Identity);
    }
@Html.Raw(ViewBag.Message)
<div class="grid-home-container">
    
    <aside class="grid-home-aside">
        
        <div class="grid-home-aside-item"> 
            
            
            @Html.DropDownList(
                "Foo", 
                new SelectList(
                    Model.Select(x => new { Value = x.Title, Text = x.Title }),
                    "Value",
                    "Text"
                ),
                new {@class="home-dropdown"}
            )
            
        </div>
        <div class="grid-home-aside-item">
            <div class="dropdown">
                <button class="dropbtn">Categories-dropdown</button>
                <div class="dropdown-content" id="genre-filter">
                    <a data-genre="adventure">Adventure</a>
                    <a data-genre="mystery">Mystery</a> 
                    <a data-genre="comedy">Comedy</a>
                    <a data-genre="romance">Romance</a>
                    <a data-genre="fantasy">Fantasy</a>
                    <a data-genre="science fiction">Science fiction</a>
                </div>
            </div>    
        </div> 
        <div class="grid-home-aside-item"> <button> best sellers </button> </div>
        <div class="grid-home-aside-item"> <a asp-controller="Home" asp-action="TopTen"> <button> top 10 </button> </a> </div>
    </aside>
    <main class="grid-home-main">
        <div class="grid-order-buttons">
            <span class="grid-order-buttons-item"> Order by: </span> 
            <button id="order-by-title" class="grid-order-buttons-item btn btn-default btn-xs"> name </button>
            <button id="order-by-price" class="grid-order-buttons-item btn btn-default btn-xs"> price </button>
            <button id="order-by-rating" class="grid-order-buttons-item btn btn-default btn-xs"> rating </button>
            
        </div>
        <div class="grid-container"> 
            @foreach(var book in Model)
            {   
                <div class="grid-items">
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@book.Id"> 
                        <img src="@book.Image" alt="Image of @book.Title"> 
                    </a>
                    <div data-title="@book.Title" class="grid-book-title">@book.Title</div>
                    <div data-rating=@book.Rating class="grid-book-rating">@book.Rating</div>
                    <div class="grid-book-price">@book.Price</div>

                    @if(SignInManager.IsSignedIn(User))
                    {
                        <button class="add-user-book btn btn-success" data-book=@book.Id data-price=@book.Price> im logged in add</button>
                    }
                    else 
                    {
                        <button class="add-book btn btn-danger" data-book=@book.Id data-price=@book.Price> im not logged in add</button>
                    }
                    
                </div>       
            }
        </div>
    </main> 
</div>

