@model List<BookCave.Models.ViewModels.BookViewModel>

<div class="d-flex flex-wrap">
        @foreach(var book in Model)
        {   
            <div class="bookSpace">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@book.Id"> 
                <img src="@book.Image" alt="Image of @book.Title" height="150" width="100"> 
                </a>
                <p>@book.Title</p><br/>
                <p>@book.Rating</p><br/>
                <p>@book.Price</p><br/>
                <button class="add-book" data-book=@book.Id data-price=@book.Price> add me</button>
            </div>       
        }
</div>

