@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@model List<BookCave.Models.ViewModels.BookViewModel> 

@inject SignInManager<ApplicationUser> SignInManager
    @{
        var claim = ((ClaimsIdentity) User.Identity);
    }

<center> <h2> Top 10</h2></center>


<main class="grid-home-main">
    <div class="grid-container">
        @foreach(var book in Model)
        {
            <div class="grid-items">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@book.Id"> 
                <img src="@book.Image" alt="Image of @book.Title"> 
                </a>
                
                <div class="grid-book-title">@book.Title</div>
                <div class="grid-book-rating">@book.Rating</div>
                <div class="grid-book-price">@book.Price</div>
                
                @if(SignInManager.IsSignedIn(User))
                {
                    <button class="add-user-book  custom-btn btn btn-success" data-toggle="modal" data-target="#userTopAdd" data-book=@book.Id data-price=@book.Price> add to cart</button>
                    <!-- Modal -->
                    <div class="modal fade" id="userTopAdd" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"> We added one copy of this book to your cart.</h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else 
                {
                    <button class="add-book btn btn-success custom-btn" data-title="@book.Title" data-book=@book.Id data-price=@book.Price>add to cart</button>
                }
            </div>
        }
    </div>
</main>