@model List<BookCave.Models.ViewModels.CartViewModel>
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using System.Linq

@inject SignInManager<ApplicationUser> SignInManager

    @{
        var claim = ((ClaimsIdentity) User.Identity);
    }

@if(SignInManager.IsSignedIn(User))
{
    <!-- logged in user gets items from List.. this is HttpGet request -->
    <h2> hello signed in user </h2>
    <div id="cart-logged-in-user" class="user-grid-cart fade-in">
        @if( !Model.Any() )
        {
            <div> There are no items in your cart </div>
            <div id="logged-in-empty-cart"> </div>
            
        }
        else 
        {
            <div class="grid-cart">
                @foreach(var item in Model) 
                {
                    <div class="grid-cart-item">
                        <div class="grid-cart-item-title"> @item.Title </div>
                        <div class="grid-cart-item-price">
                            <div class="user-item-quantity" data-quantity=@item.Quantity> Quantity: @item.Quantity </div>
                            <div class="user-item-price" data-price=@item.Price> Price for each: @item.Price </div> 
                        </div>
                        <div class="grid-cart-buttons">
                            <div>
                                <button data-useritemadd=@item.ItemId class="user-cart-item-add btn btn-default fas fa-plus"></button>
                            </div>
                            <div>
                                <button data-useritemremove=@item.ItemId class="user-cart-item-remove btn btn-default fas fa-minus"></button>
                            </div>
                            <div>
                                <button data-useritemclear=@item.ItemId class="user-cart-item-clear btn btn-default fa fa-trash"></button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="user-cart-status"> 
                <div id="cart-items"> 
                    <h4> 
                        Total price 
                        <span data-total=@Model.Sum(i => i.Price * i.Quantity)> 
                            @Model.Sum(i => i.Price * i.Quantity) ISK
                        </span> 
                    </h4>  
                </div>
                <div class="user-clear-cart">
                    <button class="user-cart-item-clear-all btn btn-default"> clear cart </button>
                    <a asp-controller="Checkout" asp-action="Billing" class="user-cart-checkout btn btn-default"> checkout </a>
                </div>
            </div>
            
        }
    </div>
}
else 
{
    <!-- logged out user gets items from LocalStorage -->
    <div id="cart" >    
        <h2> Cart List in /Cart/Index </h2>
         
        <div class="grid-cart fade-in"></div>
        <div id="cart-items" class="fade-in"> </div>
        <button class="buy-books"> not logged in user -> Checkout </button>

        <div class="clear-cart">
            <button class="cart-item-clear-all btn btn-default"> clear cart</button>
        </div>
    </div>
}



<!-- 

@foreach(var item in Model)
{
    <tr>
        <td>@item.ItemId</td>
        <td>@item.Quantity</td>
    </tr>
}    
-->

