@model List<BookCave.Models.ViewModels.CartViewModel>
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using System.Linq

@inject SignInManager<ApplicationUser> SignInManager

    @{
        var claim = ((ClaimsIdentity) User.Identity);
    }

@if(SignInManager.IsSignedIn(User))
{
    <!-- logged in user gets items from List.. this is HttpGet request -->
    <h2> hello signed in user </h2>
    <div id="cart-logged-in-user" class="user-grid-cart fade-in">
        @if( !Model.Any() )
        {
            <div> There are no items in your cart </div>
            <div id="logged-in-empty-cart"> </div>
            
        }
        else 
        {
            <div class="grid-cart">
                @foreach(var item in Model) 
                {
                    <div class="grid-cart-item">
                        <div class="grid-cart-item-title"> @item.Title </div>
                        <div class="grid-cart-item-price">
                            <div class="user-item-quantity" data-quantity=@item.Quantity> Quantity: @item.Quantity </div>
                            <div class="user-item-price" data-price=@item.Price> Price for each: @item.Price </div> 
                        </div>
                        <div class="grid-cart-buttons">
                            <div>
                                <button data-useritemadd=@item.ItemId data-toggle="modal" data-target="#userAdd" class="user-cart-item-add btn btn-default fas fa-plus"></button>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="userAdd" role="dialog">
                                    <div class="modal-dialog">
                                    
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title"> We added one copy of this book to your cart.</h4>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button data-useritemremove=@item.ItemId data-toggle="modal" data-target="#userRemove" class="user-cart-item-remove btn btn-default fas fa-minus"></button>

                                <!-- Modal -->
                                <div class="modal fade" id="userRemove" role="dialog">
                                    <div class="modal-dialog">
                                    
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title"> We removed one copy of this book from your cart.</h4>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button data-useritemclear=@item.ItemId data-toggle="modal" data-target="#userClear" class="user-cart-item-clear btn btn-default fa fa-trash"></button>

                                <!-- Modal -->
                                <div class="modal fade" id="userClear" role="dialog">
                                    <div class="modal-dialog">
                                    
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title"> We removed all copies of this book from your cart.</h4>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="user-cart-status"> 
                <div id="cart-items"> 
                    <h4> 
                        Total price 
                        <span data-total=@Model.Sum(i => i.Price * i.Quantity)> 
                            @Model.Sum(i => i.Price * i.Quantity) ISK
                        </span> 
                    </h4>  
                </div>
                <div class="user-clear-cart">
                    <button class="user-cart-item-clear-all btn btn-default" data-toggle="modal" data-target="#userClearAll"> clear cart </button>

                    <a asp-controller="Checkout" asp-action="Billing" class="user-cart-checkout btn btn-default"> checkout </a>

                </div>
                <!-- Modal -->
                <div class="modal fade" id="userClearAll" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"> We cleared all the items from your cart.</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        }
    </div>
}
else 
{
    <!-- logged out user gets items from LocalStorage -->
    <div id="cart" >    
        <h2> Cart List in /Cart/Index </h2>
         
        <div class="grid-cart fade-in"></div>
        <div id="cart-items" class="fade-in"> </div>
        

        <div class="clear-cart">
            <button class="cart-item-clear-all btn btn-default"> clear cart</button>
            <button type="button" class="buy-books btn btn-default" data-toggle="modal" data-target="#myModal">Checkout</button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">You need to login to buy the books.</h4>
                        </div>
                        <div class="modal-body">
                            <p>Your items will be in the cart after you login.</p>
                            <p>Do you want us to send you to the login page?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="close-cart-modal btn btn-default" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
}



<!-- 

@foreach(var item in Model)
{
    <tr>
        <td>@item.ItemId</td>
        <td>@item.Quantity</td>
    </tr>
}    
-->

