@model BookCave.Models.ViewModels.OrderViewModel
<h1>Orders Been Confirmed</h1>
<div class="stepwizard">
        <div class="stepwizard-step">
            <a asp-controller="Checkout" asp-action="Billing" type="button" class="btn btn-success btn-circle">1</a>
            <p>Billing</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-success btn-circle" disabled="disabled">2</button>
            <p>Review Order</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-success btn-circle" disabled="disabled">3</button>
            <p>Order Confirmed</p>
        </div>
</div>
<div class="user-grid-cart fade-in">
    <div class="grid-cart"> 
        @foreach(var item in Model.CartList) 
        {
        <div class="grid-cart-item">
            <div class="grid-cart-item-title"> @item.Title </div>
            <div class="grid-cart-item-price">
                <div class="user-item-quantity" data-quantity=@item.Quantity> Quantity: @item.Quantity </div>
                <div class="user-item-price" data-price=@item.Price> Price for each: @item.Price </div> 
            </div>
        </div>
        }
    </div>
    <h3>@Model.Billing.StreetAddress</h3>
    <h3>@Model.Billing.City</h3>
    <h3>@Model.Billing.Country</h3>
    <h3>@Model.Billing.ZipCode</h3>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to Home</a>
</div>