@model BookCave.Models.ViewModels.OrderViewModel
<div class="stepwizard">
        <div class="stepwizard-step">
            <a asp-controller="Checkout" asp-action="Billing" type="button" class="btn btn-success btn-circle">1</a>
            <p>Billing</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-success btn-circle" disabled="disabled">2</button>
            <p>Review Order</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">3</button>
            <p>Order Confirmed</p>
        </div>
</div>
<hr/>
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-6">
                <address>
                    <strong>Shipping Address: </strong>@Model.Billing.StreetAddress<br/>
                    @Model.Billing.CardOwner<br/>
                    ZIP: @Model.Billing.ZipCode, City: @Model.Billing.City, Country: @Model.Billing.Country
                </address>
        </div>
            <div class="col-xs-6">
                Credit Card: @Model.Billing.CardNumber<br/>
                Cvv: @Model.Billing.CvCode <br/>
                Expiring Date: @Model.Billing.ExpireMonth/@Model.Billing.ExpireYear
            </div>
        </div>
    </div>
</div>
<div class="user-grid-cart fade-in">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price for each</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.CartList) 
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td>Total price: @Model.TotalPrice ISK</td>
            </tr>
        </tbody>
    </table>
</div>
   
    <form asp-controller="Checkout" asp-action="Review" class="form-group row">
        <button type="submit" class="btn btn-primary">Order</button>
    </form>
</div>